In [66]:
import pandas as pd 
import numpy as np

In [67]:
table =pd.read_csv('lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv')

In [68]:
table.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

#### 1. Show the dataframe shape.

In [69]:
table.shape

(9134, 24)

#### 2. Standardize header names.

In [70]:
table.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [71]:
table=table.rename(columns={'EmploymentStatus':'Employment Status'})
table.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'Employment Status', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [72]:
cols=[]
for column_name in table.columns:
    cols.append(column_name.lower())
cols

['customer',
 'state',
 'customer lifetime value',
 'response',
 'coverage',
 'education',
 'effective to date',
 'employment status',
 'gender',
 'income',
 'location code',
 'marital status',
 'monthly premium auto',
 'months since last claim',
 'months since policy inception',
 'number of open complaints',
 'number of policies',
 'policy type',
 'policy',
 'renew offer type',
 'sales channel',
 'total claim amount',
 'vehicle class',
 'vehicle size']

#### 3. Which columns are numerical?

In [73]:
table._get_numeric_data()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764
9130,3096.511217,21604,79,14,28,0,1,379.200000
9131,8163.890428,0,85,9,37,3,2,790.784983
9132,7524.442436,21941,96,34,3,0,3,691.200000
9133,2611.836866,0,77,3,90,0,1,369.600000

#### 4. Which columns are categorical?

In [74]:
table.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
Employment Status                 object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

#### 5.Check and deal with NaN values.

In [75]:
table.isna()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9130,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9131,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9132,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9133,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [76]:
table.isna().sum()

Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
Employment Status                0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

#### 6. Datetime format- Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie Jan Feb and March

In [77]:
import time
from datetime import date

In [78]:
table.head(60)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
5,OC83172,Oregon,8256.297800,Yes,Basic,Bachelor,1/25/11,Employed,F,62902,...,94,0,2,Personal Auto,Personal L3,Offer2,Web,159.383042,Two-Door Car,Medsize
6,XZ87318,Oregon,5380.898636,Yes,Basic,College,2/24/11,Employed,F,55350,...,13,0,9,Corporate Auto,Corporate L3,Offer1,Agent,321.600000,Four-Door Car,Medsize
7,CF85061,Arizona,7216.100311,No,Premium,Master,1/18/11,Unemployed,M,0,...,68,0,4,Corporate Auto,Corporate L3,Offer1,Agent,363.029680,Four-Door Car,Medsize
8,DY87989,Oregon,24127.504020,Yes,Basic,Bachelor,1/26/11,Medical Leave,M,14072,...,3,0,2,Corporate Auto,Corporate L3,Offer1,Agent,511.200000,Four-Door Car,Medsize
9,BQ94931,Oregon,7388.178085,No,Extended,College,2/17/11,Employed,F,28812,...,7,0,8,Special Auto,Special L2,Offer2,Branch,425.527834,Four-Door Car,Medsize
10,SX51350,California,4738.992022,No,Basic,College,2/21/11,Unemployed,M,0,...,5,0,3,Personal Auto,Personal L3,Offer1,Agent,482.400000,Four-Door Car,Small
11,VQ65197,California,8197.197078,No,Basic,College,1/6/11,Unemployed,F,0,...,87,0,3,Personal Auto,Personal L3,Offer2,Agent,528.000000,SUV,Medsize
12,DP39365,California,8798.797003,No,Premium,Master,2/6/11,Employed,M,77026,...,82,2,3,Corporate Auto,Corporate L1,Offer2,Agent,472.029737,Four-Door Car,Medsize
13,SJ95423,Arizona,8819.018934,Yes,Basic,High School or Below,1/10/11,Employed,M,99845,...,25,1,8,Corporate Auto,Corporate L3,Offer2,Branch,528.000000,SUV,Medsize
14,IL66569,California,5384.431665,No,Basic,College,1/18/11,Employed,M,83689,...,10,2,8,Corporate Auto,Corporate L3,Offer4,Call Center,307.139132,Four-Door Car,Medsize
15,BW63560,Oregon,7463.139377,No,Basic,Bachelor,1/17/11,Employed,F,24599,...,50,1,2,Corporate Auto,Corporate L2,Offer2,Branch,42.920271,Four-Door Car,Medsize
16,FV94802,Nevada,2566.867823,No,Basic,High School or Below,2/6/11,Medical Leave,M,25049,...,7,0,1,Personal Auto,Personal L3,Offer2,Call Center,454.245098,Two-Door Car,Medsize
17,OE15005,California,3945.241604,No,Basic,College,1/5/11,Medical Leave,M,28855,...,59,0,1,Personal Auto,Personal L2,Offer3,Call Center,647.442031,SUV,Medsize
18,WC83389,Oregon,5710.333115,No,Basic,College,2/27/11,Employed,M,51148,...,1,0,7,Personal Auto,Personal L2,Offer2,Branch,308.981664,Four-Door Car,Medsize
19,FL50705,California,8162.617053,No,Premium,High School or Below,1/14/11,Employed,F,66140,...,21,0,3,Corporate Auto,Corporate L2,Offer1,Call Center,484.800000,Four-Door Car,Small
20,ZK25313,Oregon,2872.051273,No,Basic,High School or Below,2/19/11,Employed,M,57749,...,21,0,1,Personal Auto,Personal L2,Offer1,Branch,355.200000,Two-Door Car,Medsize
21,SV62436,Washington,3041.791561,No,Extended,Bachelor,1/21/11,Disabled,F,13789,...,49,0,1,Personal Auto,Personal L3,Offer4,Call Center,379.200000,Four-Door Car,Medsize
22,YH23384,Arizona,24127.504020,Yes,Basic,Bachelor,1/26/11,Medical Leave,M,14072,...,3,0,2,Personal Auto,Personal L3,Offer1,Agent,511.200000,Four-Door Car,Medsize
23,TZ98966,Nevada,2450.190996,No,Basic,Bachelor,2/24/11,Unemployed,F,0,...,44,3,1,Corporate Auto,Corporate L3,Offer1,Branch,554.376763,Four-Door Car,Medsize
24,HM55802,California,2392.107890,No,Basic,Bachelor,2/5/11,Disabled,F,17870,...,91,0,1,Corporate Auto,Corporate L2,Offer2,Branch,439.200000,Four-Door Car,Medsize
25,FS42516,Oregon,5802.065978,No,Basic,College,1/29/11,Employed,M,97541,...,1,0,3,Personal Auto,Personal L3,Offer2,Call Center,389.185006,Four-Door Car,Large
26,US89481,California,3946.372085,No,Premium,Bachelor,2/28/11,Unemployed,F,0,...,47,0,1,Personal Auto,Personal L3,Offer1,Agent,799.200000,Four-Door Car,Small
27,HO30839,Washington,5346.916576,No,Extended,Master,2/12/11,Disabled,F,10511,...,64,0,1,Corporate Auto,Corporate L1,Offer1,Branch,516.237951,SUV,Medsize
28,GE62437,Arizona,12902.560140,No,Premium,College,2/2/11,Employed,F,86584,...,54,2,2,Personal Auto,Personal L3,Offer1,Call Center,532.800000,Four-Door Car,Large
29,EJ77678,Oregon,3235.360468,No,Extended,Master,2/7/11,Employed,F,75690,...,44,1,1,Personal Auto,Personal L3,Offer2,Branch,384.000000,Four-Door Car,Small
30,SV85652,Arizona,2454.583540,No,Basic,College,2/28/11,Employed,M,23158,...,6,1,1,Personal Auto,Personal L2,Offer4,Call Center,322.294043,Four-Door Car,Small
31,UL64533,Nevada,18975.456110,No,Extended,High School or Below,1/22/11,Employed,M,65999,...,14,0,6,Corporate Auto,Corporate L2,Offer2,Agent,615.927769,Luxury SUV,Medsize
32,PF41800,California,4715.321344,No,Basic,Bachelor,1/25/11,Unemployed,M,0,...,56,0,3,Personal Auto,Personal L3,Offer1,Call Center,308.150890,Four-Door Car,Medsize
33,AO98601,Washington,5018.885233,No,Basic,Bachelor,1/18/11,Employed,M,54500,...,17,0,6,Corporate Auto,Corporate L2,Offer1,Agent,302.400000,Two-Door Car,Small
34,SK67821,Oregon,4932.916345,No,Basic,Bachelor,2/13/11,Employed,F,37260,...,42,0,8,Corporate Auto,Corporate L1,Offer3,Web,15.437681,Four-Door Car,Medsize
35,YV55495,Arizona,5744.229745,No,Basic,High School or Below,1/15/11,Employed,F,68987,...,40,0,6,Personal Auto,Personal L1,Offer1,Branch,204.475147,Four-Door Car,Medsize
36,KY38074,California,13891.735670,No,Premium,Bachelor,1/8/11,Employed,M,42305,...,62,0,2,Personal Auto,Personal L3,Offer1,Agent,561.600000,Four-Door Car,Small
37,DM79012,Oregon,7380.976717,No,Extended,Master,2/6/11,Employed,F,65706,...,86,0,8,Personal Auto,Personal L3,Offer2,Web,436.800000,Four-Door Car,Small
38,CM61827,Oregon,3090.034104,No,Extended,Bachelor,1/25/11,Unemployed,M,0,...,79,0,1,Personal Auto,Personal L2,Offer3,Agent,648.000000,Two-Door Car,Small
39,WC35801,Arizona,2521.633095,No,Basic,High School or Below,2/7/11,Employed,M,53243,...,15,2,1,Personal Auto,Personal L3,Offer1,Call Center,157.397849,Four-Door Car,Medsize
40,QG25316,Nevada,2652.061785,No,Basic,High School or Below,1/18/11,Unemployed,F,0,...,1,1,1,Corporate Auto,Corporate L3,Offer3,Call Center,484.318536,Two-Door Car,Medsize
41,MB98372,Oregon,2771.045031,Yes,Basic,College,1/11/11,Employed,F,50071,...,32,0,1,Corporate Auto,Corporate L3,Offer2,Agent,18.918935,Two-Door Car,Medsize
42,IL19217,California,3939.006370,Yes,Extended,Bachelor,1/28/11,Employed,F,60021,...,28,0,1,Personal Auto,Personal L2,Offer2,Agent,882.871945,Four-Door Car,Small
43,SR38658,Arizona,12231.879680,No,Basic,High School or Below,2/8/11,Employed,M,43244,...,16,0,2,Personal Auto,Personal L2,Offer4,Agent,494.400000,Sports Car,Medsize
44,DH41343,Washington,2443.665166,No,Basic,College,2/23/11,Employed,M,92834,...,56,0,1,Special Auto,Special L2,Offer2,Call Center,292.800000,Four-Door Car,Large
45,HG65722,Oregon,12819.102890,No,Premium,Doctor,1/25/11,Disabled,F,10105,...,4,3,3,Personal Auto,Personal L2,Offer1,Branch,0.517753,SUV,Medsize
46,BU27331,Arizona,4468.510542,No,Basic,Bachelor,1/31/11,Unemployed,M,0,...,57,3,5,Personal Auto,Personal L3,Offer3,Call Center,579.165954,Four-Door Car,Medsize
47,XM45289,Oregon,5514.344018,No,Basic,High School or Below,1/2/11,Employed,F,23218,...,10,0,4,Personal Auto,Personal L2,Offer4,Agent,447.793440,Two-Door Car,Medsize
48,KP34198,California,3343.875326,No,Extended,Bachelor,2/7/11,Unemployed,F,0,...,77,0,1,Corporate Auto,Corporate L2,Offer2,Call Center,529.624084,Four-Door Car,Medsize
49,SH90947,Arizona,2294.478927,No,Basic,High School or Below,1/18/11,Unemployed,F,0,...,56,0,1,Personal Auto,Personal L2,Offer4,Branch,313.023175,Four-Door Car,Medsize
50,WE95729,Oregon,36707.426390,No,Basic,College,1/17/11,Employed,M,24804,...,28,0,2,Personal Auto,Personal L2,Offer1,Agent,593.830288,SUV,Small
51,PY51963,California,33473.349460,Yes,Basic,Bachelor,1/11/11,Employed,F,33190,...,95,0,2,Corporate Auto,Corporate L1,Offer1,Web,508.800000,SUV,Medsize
52,RB69909,Nevada,7983.431709,No,Basic,High School or Below,2/21/11,Employed,F,36014,...,40,3,2,Special Auto,Special L1,Offer4,Branch,173.956072,Four-Door Car,Medsize
53,XR95069,Washington,4854.745666,No,Basic,Bachelor,2/16/11,Employed,M,29834,...,44,0,3,Personal Auto,Personal L3,Offer4,Agent,307.200000,Four-Door Car,Medsize
54,FR46645,California,4293.997319,No,Premium,Bachelor,1/17/11,Disabled,M,16701,...,26,0,1,Personal Auto,Personal L2,Offer1,Branch,831.625979,Four-Door Car,Small
55,SY17488,Arizona,7164.395543,No,Extended,College,2/5/11,Employed,F,46623,...,53,0,3,Corporate Auto,Corporate L3,Offer3,Call Center,436.800000,Four-Door Car,Small
56,AP67935,California,7619.515800,No,Basic,College,2/13/11,Employed,M,64749,...,59,0,2,Special Auto,Special L2,Offer2,Branch,302.565190,Four-Door Car,Medsize
57,FS37417,Arizona,3958.002823,No,Basic,High School or Below,2/23/11,Unemployed,F,0,...,12,0,1,Personal Auto,Personal L2,Offer1,Call Center,484.800000,SUV,Small
58,ML29312,Oregon,4499.493252,No,Extended,High School or Below,1/28/11,Disabled,F,16969,...,47,2,1,Personal Auto,Personal L3,Offer1,Call Center,704.768111,SUV,Medsize
59,UB61619,Oregon,4059.567414,No,Premium,Master,2/28/11,Disabled,F,11621,...,98,0,1,Personal Auto,Personal L1,Offer1,Agent,518.400000,Four-Door Car,Medsize